<!DOCTYPE html>
<html lang="pt-BR">
  <head>{% include "blog/partials/_head.html" %}</head>
  <body>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. In, placeat nisi! Doloremque nesciunt, a officia neque vitae quis quas reprehenderit fugiat rem eaque praesentium, facere aut cupiditate voluptatibus quae perferendis!
    </p>
    <h1>Exemplo: {{ site_setup.title }}</h1>
    <head>{% include "blog/partials/_header.html" %}</head>
    {% block content %}
    {% endblock content %}
    <head>{% include "blog/partials/_pagination.html" %}</head>
    <head>{% include "blog/partials/_footer.html" %}</head>
  </body>
</html>
